{% extends "base.html" %}
{% block title %}Log in page - {{ block.super }} }}{% endblock %}
{% block content %}
<br>
<div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 box" >
        <h3 class="text-center">Login required</h3>
        <h6 class="text-danger text-center">{{error}}</h6><br>
        <form class="" action="" method="post">
            {% csrf_token %}
            {% include "form.html" %}
            <button type="submit" class="button">login</button>
        </form>
        <hr>
        <span>If you do not have an account, please click <a href="{% url 'register' %}">here</a> to create one.</span>
    </div>
</div>
{% endblock %}
