
{% extends 'base.html' %}

{% block title %} Book a room you deserve {% endblock %}
{% block content %}

<h4>Reservation for {{ date }}</h4><br>
{% if already_reserved == 2 %}
<p>
    Our system says you already reached maximum limit of <strong>{{already_reserved}}</strong> reservations per person.
</p>
<p>
    To continue you need to <u>cancel</u> one of your previous reservations.
    If you would like to do so, please click the button below.
</p><br><br>
<a href="{% url 'index' %}" class="button">my reservations</a>
{% endif %}
{% if already_reserved < 2 %}
<p>
    Please choose any available time slot and click "Add Reservation" button to complete reservation.
</p>
<p>
    Time slots you can reserve: <strong id="max_reserv">{{available}}</strong>
</p><br>
<form class="" action="{% url 'book-index' day%}" method="post">
{% csrf_token %}
<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="box">
            {{rooms.0}} <br>
            Capacity: x people <br><br>
            Room description <br> <hr>
            <div class="row timerow">
                {% for time, r_zero, r_one, r_two in rooms_time %}
                <div class="col-xs-6 col-sm-4 col-md-12 col-lg-12 select time text-center {% if r_zero %}booked{% endif %}">
                    {{time}}<input class="hidden" type="checkbox" name="room0" value="{{forloop.counter0}}">
                </div>{% endfor %}
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="box">
            {{rooms.1}} <br>
            Capacity: x people <br><br>
            Room description <br> <hr>
            <div class="row timerow">
                {% for time, r_zero, r_one, r_two in rooms_time %}
                <div class="col-xs-6 col-sm-4 col-md-12 col-lg-12 select time text-center
                {% if r_one %}booked{% endif %}">{{time}}<input class="hidden" type="checkbox" name="room1" value="{{forloop.counter0}}"></div>{% endfor %}
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="box">
            {{rooms.2}} <br>
            Capacity: x people <br> <br>
            Room description <br> <hr>
            <div class="row timerow">
                {% for time, r_zero, r_one, r_two in rooms_time %}
                <div class="col-xs-6 col-sm-4 col-md-12 col-lg-12 select time text-center
                {% if r_two %}booked{% endif %}">{{time}}<input class="hidden" type="checkbox" name="room2" value="{{forloop.counter0}}"></div>{% endfor %}
            </div>
        </div>
    </div>
</div><br>
<a href="{% url 'index' %}" class="button">go back</a>
<button class="button" disabled type="submit" name="day" value="{{day}}"><span class="glyphicon glyphicon-plus"></span> add reservation</button>
</form><br>
{# <img src="/static/busy.gif" width="25" height="25" alt="" />#}
{% endif %}
{% endblock %}

{%block js%}{% load staticfiles %}
<script src="{% static 'helpers.js' %}"></script>
{% endblock %}
